.offer {
  padding-top: 150px;
  padding-bottom: 150px;
}

.offer-container {
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
  width: 80%;
  margin: 0 auto;
}

.offer-container-upper {
  padding-bottom: 20px;
}

.offer-container-upper,
.offer-container-lower {
  display: flex;
  justify-content: space-between;
}

.offer-container-box {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-container-first-text-wrapper {
  text-align: center;
}

.offer-container-first-text-wrapper li {
  font-size: 22px;
  list-style-type: none;
  font-weight: 300;
}

.offer-container-second-text-wrapper {
  text-align: center;
}

.offer-container-second-text-wrapper a {
  text-decoration: none;
}

.offer-container-second-text-wrapper span {
  color: #5200ee;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.offer-container-second-text-wrapper span:hover {
  font-size: 26px;
}

.offer-container-box img {
  width: 100%;
  border: 2px solid white;
}

.offer-container-box h1 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 5px;
}

.offer-container-box h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 2px;
}

.offer-container-transport {
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
}

@media (max-width: 1200px) and (min-width: 851px) {
  .offer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .offer-container {
    width: 90%;
  }
}

@media (max-width: 1100px) and (min-width: 851px) {
  .offer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .offer-container {
    width: 90%;
  }
  .offer-container-box h3 {
    font-size: 20px;
  }
  .offer-container-first-text-wrapper li {
    font-size: 20px;
  }
  .offer-container-transport {
    font-size: 28px;
  }
  .offer-container-second-text-wrapper span:hover {
    font-size: 22px;
  }
}

@media (max-width: 850px) and (min-width: 750px) {
  .offer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .offer-container {
    width: 90%;
  }
  .offer-container-box h3 {
    font-size: 18px;
  }
  .offer-container-first-text-wrapper li {
    font-size: 18px;
  }
  .offer-container-transport {
    font-size: 24px;
  }
  .offer-container-second-text-wrapper span:hover {
    font-size: 20px;
  }
}

@media (max-width: 749px) and (min-width: 650px) {
  .offer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .offer-container {
    width: 90%;
  }
  .offer-container-box {
    width: 88%;
  }
  .offer-container-box img {
    width: 65%;
    margin-top: 18px;
  }
  .offer-container-second-image {
    display: none;
  }
  .offer-container-box h3 {
    font-size: 20px;
  }
  .offer-container-first-text-wrapper li {
    font-size: 20px;
  }
  .offer-container-transport {
    font-size: 24px;
  }
  .offer-container-second-text-wrapper span:hover {
    font-size: 22px;
  }
  .offer-container-upper,
  .offer-container-lower {
    display: block;
    text-align: -webkit-center;
  }
}

@media (max-width: 649px) and (min-width: 550px) {
  .offer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .offer-container {
    width: 90%;
  }
  .offer-container-box {
    width: 88%;
  }
  .offer-container-box img {
    width: 65%;
    margin-top: 18px;
  }
  .offer-container-second-image {
    display: none;
  }
  .offer-container-box h3 {
    font-size: 20px;
  }
  .offer-container-first-text-wrapper li {
    font-size: 20px;
  }
  .offer-container-transport {
    font-size: 19px;
  }
  .offer-container-second-text-wrapper span:hover {
    font-size: 22px;
  }
  .offer-container-upper,
  .offer-container-lower {
    display: block;
    text-align: -webkit-center;
  }
}

@media (max-width: 549px) and (min-width: 450px) {
  .offer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .offer-container {
    width: 90%;
  }
  .offer-container-box {
    width: 88%;
  }
  .offer-container-box img {
    width: 90%;
    margin-top: 18px;
  }
  .offer-container-second-image {
    display: none;
  }
  .offer-container-box h3 {
    font-size: 20px;
  }
  .offer-container-first-text-wrapper li {
    font-size: 20px;
  }
  .offer-container-transport {
    font-size: 19px;
  }
  .offer-container-second-text-wrapper span:hover {
    font-size: 22px;
  }
  .offer-container-upper,
  .offer-container-lower {
    display: block;
    text-align: -webkit-center;
  }
}

@media (max-width: 449px) {
  .offer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .offer-container {
    width: 94%;
  }
  .offer-container-box {
    width: 88%;
  }
  .offer-container-box img {
    width: 98%;
    margin-top: 18px;
  }
  .offer-container-second-image {
    display: none;
  }
  .offer-container-box h3 {
    font-size: 16px;
  }
  .offer-container-first-text-wrapper li {
    font-size: 16px;
  }
  .offer-container-transport {
    font-size: 19px;
  }
  .offer-container-second-text-wrapper span:hover {
    font-size: 18px;
  }
  .offer-container-upper,
  .offer-container-lower {
    display: block;
    text-align: -webkit-center;
  }
}
